{% extends 'base.html.twig' %}

{% block title %}e-sports.tn{% endblock %}

{% block body %}

<!doctype html>
<html lang="zxx">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>gaming</title>
    <link rel="icon" href="img/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="css/all.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/themify-icons.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="css/magnific-popup.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="css/slick.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="body_bg">
        <!--::header part start::-->
    
        <!-- Header part end-->

       <!-- banner part start -->
    <section class="banner_part" style="background-image: url('{{ asset('img/Red Neon Dynamic Gaming YouTube Thumbnail (1).png') }}');">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-6 col-md-8">
                    <div class="banner_text">
                        <div class="banner_text_iner">
                            <h1>Best Highlights of the Latest</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum</p>
                            <a  class="btn_1"href="{{ path('app_register') }}">Register</a>
                          

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner part end -->

        <!--::client logo part end::-->
        <section class="client_logo">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-12">
                        <div class="client_logo_slider owl-carousel d-flex justify-content-between">
                            <div class="single_client_logo">
                                <img src="img/client_logo/client_logo_1.png" alt="">
                            </div>
                            <div class="single_client_logo">
                                <img src="img/client_logo/client_logo_2.png" alt="">
                            </div>
                            <div class="single_client_logo">
                                <img src="img/client_logo/client_logo_3.png" alt="">
                            </div>
                            <div class="single_client_logo">
                                <img src="img/client_logo/client_logo_4.png" alt="">
                            </div>
                            <div class="single_client_logo">
                                <img src="img/client_logo/client_logo_5.png" alt="">
                            </div>
                            <div class="single_client_logo">
                                <img src="img/client_logo/client_logo_1.png" alt="">
                            </div>
                            <div class="single_client_logo">
                                <img src="img/client_logo/client_logo_2.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--::client logo part end::-->

        <!-- about_us part start-->
        <section class="about_us section_padding">
            <div class="container">
                <div class="row align-items-center justify-content-between">
                    <div class="col-md-5 col-lg-6 col-xl-6">
                        <div class="learning_img">
                            <img src="img/85a5954b2faceccb6441e16096333e9f-removebg-preview.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-7 col-lg-6 col-xl-5">
                        <div class="about_us_text">
                            <h2>Find out about us in history</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing
                                elit sed do eiusmod tempor incididunt ut labore et
                                dolore magna aliqua. </p>
                            <a href="#" class="btn_1">Install Now</a>
                            <a href="#" class="btn_1">Watch Tutorial</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- about_us part end-->

        <!--::about_us part start::-->
        <section class="live_stareams padding_bottom">
            <div class="container-fluid">
                <div class="row align-items-center justify-content-between">
                    <div class="col-md-2 offset-lg-2 offset-sm-1">
                        <div class="live_stareams_text">
                            <h2>live <br> stareams</h2>
                            <div class="btn_1">install now</div>
                        </div>
                    </div>
                    <div class="col-md-7 offset-sm-1">
                        <div class="live_stareams_slide owl-carousel">
                            <div class="live_stareams_slide_img">
                                <img src="https://i.pinimg.com/736x/66/44/3a/66443a423df80ab811956baba35db5d9.jpg" alt="">
                                <div class="extends_video">
                                    <a id="play-video_1" class="video-play-button popup-youtube"
                                        href="https://www.youtube.com/watch?v=pBFQdxA-apI">
                                        <span class="fas fa-play"></span>
                                    </a>
                                </div>
                            </div>
                            <div class="live_stareams_slide_img">
                                <img src="https://i.pinimg.com/736x/df/c8/59/dfc85904e622e5e24800668264289400.jpg" alt="">
                                <div class="extends_video">
                                    <a id="play-video_1" class="video-play-button popup-youtube"
                                        href="https://www.youtube.com/watch?v=pBFQdxA-apI">
                                        <span class="fas fa-play"></span>
                                    </a>
                                </div>
                            </div>
                            <div class="live_stareams_slide_img">
                                <img src="https://i.pinimg.com/736x/da/61/92/da6192fa09c92ec2dd60702bbea2043b.jpg" alt="">
                                <div class="extends_video">
                                    <a id="play-video_1" class="video-play-button popup-youtube"
                                        href="https://www.youtube.com/watch?v=pBFQdxA-apI">
                                        <span class="fas fa-play"></span>
                                    </a>
                                </div>
                            </div>
                           
                           
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--::about_us part end::-->



<div class="section">

  <!-- TEXT -->
  <div class="section_title">
    <h2>JOIN THE BATTLE</h2>
    <h3>Build your Legend</h3>
    <h4>Create or join competitive esports teams and dominate tournaments</h4>
  </div>

<!-- CARDS -->
<div class="cards-container">

    <div class="card">
        <div class="glow"></div>
        <div class="inner">
            <div class="photo" style="background-image: url('{{ asset('img/0c538dab84ae3d1104af2e42631072ed.jpg') }}');"></div>
            <div class="content">
                <p class="title">
                    Some Famous <br>
                    <span>Creative Designer</span>
                </p>
                <ul class="sci">
                    <li><a href="#">IG</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="glow"></div>
        <div class="inner">
            <div class="photo" style="background-image: url('{{ asset('img/0c538dab84ae3d1104af2e42631072ed.jpg') }}');"></div>
            <div class="content">
                <p class="title">
                    Some Famous <br>
                    <span>Creative Designer</span>
                </p>
                <ul class="sci">
                    <li><a href="#">IG</a></li>
                </ul>
            </div>
        </div>
    </div>

</div>

        <section class="Latest_War">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="section_tittle text-center">
                            <h2>Latest War Fight</h2>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center align-items-center">
                    <div class="col-lg-12">
                        <div class="Latest_War_text">
                            <div class="row justify-content-center align-items-center h-100">
                                <div class="col-lg-6">
                                    <div class="single_war_text text-center">
                                        <img src="img/favicon.png" alt="">
                                        <h4>Open War chalange</h4>
                                        <p>27 june , 2020</p>
                                        <a href="#">view fight</a>
                                        <div class="war_text_item d-flex justify-content-around align-items-center">
                                            <img src="img/war_logo_1.png" alt="">
                                            <h2>190<span>vs</span>189</h2>
                                            <img src="img/war_logo_2.png" alt="">
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <a href="#" class="btn_2">Watch Tutorial</a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="latest_war_list">
                            <div class="single_war_text">
                                <div class="war_text_item d-flex justify-content-around align-items-center">
                                    <img src="img/war_logo_1.png" alt="">
                                    <h2>190<span>vs</span>189</h2>
                                    <img src="img/war_logo_2.png" alt="">
                                    <div class="war_date">
                                        <a href="#">27 june 2020</a>
                                        <p>Open War chalange</p>
                                    </div>
                                </div>
                            </div>
                            <div class="single_war_text">
                                <div class="war_text_item d-flex justify-content-around align-items-center">
                                    <img src="img/war_logo_1.png" alt="">
                                    <h2>190<span>vs</span>189</h2>
                                    <img src="img/war_logo_2.png" alt="">
                                    <div class="war_date">
                                        <a href="#">27 june 2020</a>
                                        <p>Open War chalange</p>
                                    </div>
                                </div>
                            </div>
                            <div class="single_war_text">
                                <div class="war_text_item d-flex justify-content-around align-items-center">
                                    <img src="img/war_logo_1.png" alt="">
                                    <h2>190<span>vs</span>189</h2>
                                    <img src="img/war_logo_2.png" alt="">
                                    <div class="war_date">
                                        <a href="#">27 june 2020</a>
                                        <p>Open War chalange</p>
                                    </div>
                                </div>
                            </div>
                            <div class="single_war_text">
                                <div class="war_text_item d-flex justify-content-around align-items-center">
                                    <img src="img/war_logo_1.png" alt="">
                                    <h2>190<span>vs</span>189</h2>
                                    <img src="img/war_logo_2.png" alt="">
                                    <div class="war_date">
                                        <a href="#">27 june 2020</a>
                                        <p>Open War chalange</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="Latest_War_text Latest_War_bg_1">
                            <div class="row justify-content-center align-items-center h-100">
                                <div class="col-lg-6">
                                    <div class="single_war_text text-center">
                                        <img src="img/favicon.png" alt="">
                                        <h4>Open War chalange</h4>
                                        <p>27 june , 2020</p>
                                        <a href="#">view fight</a>
                                        <div class="war_text_item d-flex justify-content-around align-items-center">
                                            <img src="img/war_logo_1.png" alt="">
                                            <h2>190<span>vs</span>189</h2>
                                            <img src="img/war_logo_2.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="btn_2">Watch Tutorial</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- use sasu part end-->

        <!-- GLOBAL RANKING -->
        <style>
            .gr-section {
                padding: 80px 0 100px;
                position: relative;
                overflow: hidden;
            }
            .gr-section::before {
                content: '';
                position: absolute;
                top: -50%;
                left: -20%;
                width: 600px;
                height: 600px;
                background: radial-gradient(circle, rgba(220,38,38,0.08) 0%, transparent 70%);
                animation: grFloat 8s ease-in-out infinite;
            }
            .gr-section::after {
                content: '';
                position: absolute;
                bottom: -40%;
                right: -10%;
                width: 500px;
                height: 500px;
                background: radial-gradient(circle, rgba(139,92,246,0.06) 0%, transparent 70%);
                animation: grFloat 10s ease-in-out infinite reverse;
            }
            @keyframes grFloat {
                0%, 100% { transform: translate(0, 0); }
                50% { transform: translate(30px, -20px); }
            }
            .gr-header {
                text-align: center;
                margin-bottom: 50px;
                position: relative;
                z-index: 2;
            }
            .gr-live {
                display: inline-flex;
                align-items: center;
                gap: 8px;
                background: rgba(220,38,38,0.12);
                border: 1px solid rgba(220,38,38,0.3);
                color: #ef4444;
                padding: 6px 18px;
                border-radius: 999px;
                font-size: 0.7rem;
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: 2px;
                margin-bottom: 20px;
            }
            .gr-live-dot {
                width: 8px;
                height: 8px;
                background: #ef4444;
                border-radius: 50%;
                animation: grPulse 1.5s ease-in-out infinite;
            }
            @keyframes grPulse {
                0%, 100% { opacity: 1; box-shadow: 0 0 0 0 rgba(239,68,68,0.5); }
                50% { opacity: 0.6; box-shadow: 0 0 0 6px rgba(239,68,68,0); }
            }
            .gr-title {
                font-size: 2.8rem;
                font-weight: 900;
                color: #fff;
                text-transform: uppercase;
                letter-spacing: 3px;
                margin: 0;
                text-shadow: 0 0 40px rgba(220,38,38,0.3);
            }
            .gr-title span {
                background: linear-gradient(90deg, #ef4444, #f59e0b, #ef4444);
                background-size: 200% auto;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                animation: grShine 3s linear infinite;
            }
            @keyframes grShine {
                0% { background-position: 0% center; }
                100% { background-position: 200% center; }
            }
            .gr-subtitle {
                color: #64748b;
                font-size: 0.95rem;
                margin-top: 10px;
                letter-spacing: 1px;
            }
            .gr-card {
                position: relative;
                z-index: 2;
                background: linear-gradient(145deg, rgba(15,23,42,0.85), rgba(30,41,59,0.65));
                border: 1px solid rgba(255,255,255,0.04);
                border-radius: 24px;
                overflow: hidden;
                backdrop-filter: blur(20px);
                box-shadow: 0 25px 60px rgba(0,0,0,0.5), inset 0 1px 0 rgba(255,255,255,0.05);
            }
            .gr-card::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                height: 2px;
                background: linear-gradient(90deg, transparent, #ef4444, #f59e0b, #ef4444, transparent);
                animation: grBorderGlow 4s linear infinite;
                background-size: 200% auto;
            }
            @keyframes grBorderGlow {
                0% { background-position: 0% center; }
                100% { background-position: 200% center; }
            }
            .gr-table {
                width: 100%;
                border-collapse: collapse;
            }
            .gr-table thead th {
                padding: 18px 16px;
                font-size: 0.65rem;
                text-transform: uppercase;
                letter-spacing: 2px;
                color: #475569;
                font-weight: 800;
                text-align: center;
                background: rgba(0,0,0,0.3);
                border-bottom: 1px solid rgba(255,255,255,0.03);
            }
            .gr-table thead th:nth-child(2) { text-align: left; }
            .gr-table tbody tr {
                transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
                border-bottom: 1px solid rgba(255,255,255,0.02);
            }
            .gr-table tbody tr:hover {
                background: rgba(220,38,38,0.04);
                transform: scale(1.005);
            }
            .gr-table tbody tr:last-child { border-bottom: none; }
            .gr-table td {
                padding: 16px;
                text-align: center;
                color: #94a3b8;
                font-size: 0.9rem;
                font-weight: 500;
            }
            .gr-table td:nth-child(2) { text-align: left; }

            /* rank positions */
            .gr-rank {
                width: 42px;
                height: 42px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                border-radius: 12px;
                font-weight: 900;
                font-size: 1rem;
                position: relative;
            }
            .gr-rank-1 {
                background: linear-gradient(135deg, rgba(245,158,11,0.2), rgba(245,158,11,0.05));
                color: #f59e0b;
                box-shadow: 0 0 20px rgba(245,158,11,0.15);
                border: 1px solid rgba(245,158,11,0.2);
            }
            .gr-rank-2 {
                background: linear-gradient(135deg, rgba(192,192,210,0.15), rgba(192,192,210,0.05));
                color: #c0c0d2;
                border: 1px solid rgba(192,192,210,0.15);
            }
            .gr-rank-3 {
                background: linear-gradient(135deg, rgba(205,127,50,0.15), rgba(205,127,50,0.05));
                color: #cd7f32;
                border: 1px solid rgba(205,127,50,0.15);
            }
            .gr-rank-default {
                background: rgba(255,255,255,0.02);
                color: #475569;
                border: 1px solid rgba(255,255,255,0.03);
            }

            /* top 3 row glow */
            .gr-row-1 { background: linear-gradient(90deg, rgba(245,158,11,0.04), transparent 60%); }
            .gr-row-2 { background: linear-gradient(90deg, rgba(192,192,210,0.03), transparent 60%); }
            .gr-row-3 { background: linear-gradient(90deg, rgba(205,127,50,0.03), transparent 60%); }
            .gr-row-1:hover { background: linear-gradient(90deg, rgba(245,158,11,0.08), transparent 60%) !important; }
            .gr-row-2:hover { background: linear-gradient(90deg, rgba(192,192,210,0.06), transparent 60%) !important; }
            .gr-row-3:hover { background: linear-gradient(90deg, rgba(205,127,50,0.06), transparent 60%) !important; }

            .gr-team-name {
                font-weight: 800;
                color: #e2e8f0;
                font-size: 0.95rem;
                letter-spacing: 0.5px;
            }
            .gr-row-1 .gr-team-name { color: #fbbf24; }

            .gr-pts {
                font-weight: 900;
                color: #e2e8f0;
                font-size: 1rem;
            }
            .gr-ppm {
                font-weight: 900;
                font-size: 1.05rem;
                background: linear-gradient(90deg, #ef4444, #f59e0b);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            .gr-diff-pos { color: #22c55e; font-weight: 700; }
            .gr-diff-neg { color: #ef4444; font-weight: 700; }
            .gr-diff-zero { color: #334155; }

            .gr-empty {
                text-align: center;
                padding: 60px 20px;
                color: #334155;
                font-size: 1.1rem;
                font-weight: 600;
                letter-spacing: 1px;
            }

            @media (max-width: 768px) {
                .gr-title { font-size: 1.8rem; letter-spacing: 1px; }
                .gr-table td, .gr-table thead th { padding: 10px 8px; font-size: 0.78rem; }
                .gr-rank { width: 32px; height: 32px; font-size: 0.85rem; border-radius: 8px; }
                .gr-section { padding: 50px 0 60px; }
            }
        </style>

        <section class="gr-section">
            <div class="container">
                <div class="gr-header">
                    <div class="gr-live"><span class="gr-live-dot"></span> Live Rankings</div>
                    <h2 class="gr-title">GLOBAL <span>RANKING</span></h2>
                    <p class="gr-subtitle">Teams ranked by performance ratio — Pts / Match</p>
                </div>

                <div class="gr-card">
                    <table class="gr-table">
                        <thead>
                            <tr>
                                <th>Rank</th>
                                <th>Team</th>
                                <th>MP</th>
                                <th>W</th>
                                <th>D</th>
                                <th>L</th>
                                <th>+/-</th>
                                <th>Pts</th>
                                <th>Pts/M</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for r in ranking %}
                            <tr class="{% if r.rang == 1 %}gr-row-1{% elseif r.rang == 2 %}gr-row-2{% elseif r.rang == 3 %}gr-row-3{% endif %}">
                                <td>
                                    <span class="gr-rank {% if r.rang == 1 %}gr-rank-1{% elseif r.rang == 2 %}gr-rank-2{% elseif r.rang == 3 %}gr-rank-3{% else %}gr-rank-default{% endif %}">
                                        {% if r.rang == 1 %}👑{% else %}{{ r.rang }}{% endif %}
                                    </span>
                                </td>
                                <td><span class="gr-team-name">{{ r.equipe.nom }}</span></td>
                                <td>{{ r.mj }}</td>
                                <td>{{ r.v }}</td>
                                <td>{{ r.n }}</td>
                                <td>{{ r.p }}</td>
                                <td class="{% if r.diff > 0 %}gr-diff-pos{% elseif r.diff < 0 %}gr-diff-neg{% else %}gr-diff-zero{% endif %}">
                                    {% if r.diff > 0 %}+{% endif %}{{ r.diff }}
                                </td>
                                <td><span class="gr-pts">{{ r.pts }}</span></td>
                                <td><span class="gr-ppm">{{ r.ppm }}</span></td>
                            </tr>
                            {% else %}
                            <tr><td colspan="9" class="gr-empty">⚔️ No battles yet — rankings update after matches</td></tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
        <!-- GLOBAL RANKING END -->

        <!-- gallery_part part start-->
        <section class="gallery_part section_padding">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-5">
                        <div class="section_tittle text-center">
                            <h2>All Fighter</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <div class="gallery_part_item">
                            <div class="grid">
                                <div class="grid-sizer"></div>
                                <a href="assets/img/gallery/gallery_item_1.png"
                                    class="grid-item bg_img img-gal grid-item--height-1"
                                    style="background-image: url('img/gallery/gallery_item_1.png')">
                                    <div class="single_gallery_item">
                                        <div class="single_gallery_item_iner">
                                            <div class="gallery_item_text">
                                                <i class="ti-zoom-in"></i>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a href="assets/img/gallery/gallery_item_2.png" class="grid-item bg_img img-gal"
                                    style="background-image: url('img/gallery/gallery_item_2.png')">
                                    <div class="single_gallery_item">
                                        <div class="single_gallery_item_iner">
                                            <div class="gallery_item_text">
                                                <i class="ti-zoom-in"></i>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a href="assets/img/gallery/gallery_item_3.png" class="grid-item bg_img img-gal"
                                    style="background-image: url('img/gallery/gallery_item_3.png')">
                                    <div class="single_gallery_item">
                                        <div class="single_gallery_item_iner">
                                            <div class="gallery_item_text">
                                                <i class="ti-zoom-in"></i>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a href="assets/img/gallery/gallery_item_5.png"
                                    class="grid-item bg_img img-gal grid-item--height-2"
                                    style="background-image: url('img/gallery/gallery_item_5.png')">
                                    <div class="single_gallery_item">
                                        <div class="single_gallery_item_iner">
                                            <div class="gallery_item_text">
                                                <i class="ti-zoom-in"></i>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a href="assets/img/gallery/gallery_item_5.png"
                                    class="grid-item bg_img img-gal grid-item--height-2"
                                    style="background-image: url('img/gallery/gallery_item_7.png')">
                                    <div class="single_gallery_item">
                                        <div class="single_gallery_item_iner">
                                            <div class="gallery_item_text">
                                                <i class="ti-zoom-in"></i>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a href="assets/img/gallery/gallery_item_6.png"
                                    class="grid-item bg_img img-gal grid-item--width-1"
                                    style="background-image: url('img/gallery/gallery_item_6.png')">
                                    <div class="single_gallery_item">
                                        <div class="single_gallery_item_iner">
                                            <div class="gallery_item_text">
                                                <i class="ti-zoom-in"></i>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a href="assets/img/gallery/gallery_item_4.png"
                                    class="grid-item bg_img img-gal sm_weight  grid-item--height-1"
                                    style="background-image: url('img/gallery/gallery_item_4.png')">
                                    <div class="single_gallery_item">
                                        <div class="single_gallery_item_iner">
                                            <div class="gallery_item_text">
                                                <i class="ti-zoom-in"></i>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- gallery_part part end-->

        <!-- use sasu part end-->
        <section class="upcomming_war">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="section_tittle text-center">
                            <h2>Upcoming Fighter</h2>
                        </div>
                    </div>
                </div>
                <div class="upcomming_war_iner">
                    <div class="row justify-content-center align-items-center h-100">
                        <div class="col-10 col-sm-5 col-lg-3">
                            <div class="upcomming_war_counter text-center">
                                <h2>Dark Dragon</h2>
                                <div id="timer" class="d-flex justify-content-between">
                                    <div id="days"></div>
                                    <div id="hours"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- use sasu part end-->

        <!-- pricing part start-->
        <section class="pricing_part padding_top">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="section_tittle text-center">
                            <h2>Pricing plans</h2>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-3 col-sm-6">
                        <div class="single_pricing_part">
                            <p>Silver Package</p>
                            <h3>$50.00</h3>
                            <ul>
                                <li>2GB Bandwidth</li>
                                <li>Two Account</li>
                                <li>15GB Storage</li>
                            </ul>
                            <a href="#" class="btn_2">Choose Plane</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="single_pricing_part">
                            <p>Silver Package</p>
                            <h3>$60.00</h3>
                            <ul>
                                <li>2GB Bandwidth</li>
                                <li>Two Account</li>
                                <li>15GB Storage</li>
                            </ul>
                            <a href="#" class="btn_2">Choose Plane</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="single_pricing_part">
                            <p>Silver Package</p>
                            <h3>$80.00</h3>
                            <ul>
                                <li>2GB Bandwidth</li>
                                <li>Two Account</li>
                                <li>15GB Storage</li>
                            </ul>
                            <a href="#" class="btn_2">Choose Plane</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- pricing part end-->

        

    <!-- jquery plugins here-->
    <script src="js/jquery-1.12.1.min.js"></script>
    <!-- popper js -->
    <script src="js/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- easing js -->
    <script src="js/jquery.magnific-popup.js"></script>
    <!-- swiper js -->
    <script src="js/swiper.min.js"></script>
    <!-- swiper js -->
    <script src="js/masonry.pkgd.js"></script>
    <!-- particles js -->
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <!-- slick js -->
    <script src="js/slick.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/contact.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/jquery.form.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/mail-script.js"></script>
    <!-- custom js -->
    <script src="js/custom.js"></script>
</body>

</html>

{% endblock %}
